.activity-content {
    .activity-info {
        background: #fff;
        border: 1px solid #ecf3f8;
        box-sizing: border-box;
        border-radius: 24px;
        box-shadow: 0px 0px 15px 0px rgba(166, 156, 255, .08);
        padding: 24px;

        h3 {
            font-weight: 500;
            text-align: center;
            margin: 0;
        }

        .activity-info-details {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .activity-details {
                width: 75%;
                display: flex;
                justify-content: space-between;
    
                .activity-block {
                    width: 23%;
                    display: inline-flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    border-right: 1px solid #e5e7eb;
                    
                    &:last-child {
                        border: none;
                    }

                    .activity-name {
                        font-size: 12px;
                        font-weight: 600;
                        text-transform: uppercase;
                        margin-bottom: 5px;

                        &.sleep {
                            color: rgb(64, 226, 255);
                        }
                    
                        &.exercise {
                            color: rgb(45, 255, 45);
                        }
                    
                        &.calories {
                            color: rgb(255, 127, 15);
                        }
                    
                        &.steps {
                            color: rgb(255, 27, 73);
                        }
                    }

                    .activity-actual {
                        font-size: 20px;
                        font-weight: 500;
                        text-shadow: 1px 1px 0 rgba(155, 149, 149, .18);
                    }

                    .activity-goal {
                        font-size: 15px;
                        text-shadow: 1px 1px 0 rgba(155, 149, 149, .18);
                    }
                }
            }

            .activity-diagram {
                width: 20%;
                position: relative;
    
                .progress-spinner {
                    position: absolute;
    
                    &:first-child {
                        margin-top: 45px;
                        margin-left: 45px;
                    }
    
                    &:nth-child(2) {
                        margin-top: 30px;
                        margin-left: 30px;
                    }
    
                    &:nth-child(3) {
                        margin-top: 15px;
                        margin-left: 15px;
                    }
    
                    &:last-child {
                        position: relative;
                    }
                }
            }
        }
    }
}

::ng-deep .mat-progress-spinner, ::ng-deep .mat-mdc-progress-spinner {
    circle {
        stroke-linecap: round;
    }

    &.sleep circle {
        stroke: rgb(64, 226, 255) !important;
    }

    &.exercise circle {
        stroke: rgb(45, 255, 45) !important;
    }

    &.calories circle {
        stroke: rgb(255, 127, 15) !important;
    }

    &.steps circle {
        stroke: rgb(255, 27, 73) !important;
    }
}