<div class="activity-content">
    <div class="activity-info">
        <h3>My Activities</h3>

        <div class="activity-info-details">
            <div class="activity-details">
                <div class="activity-block" *ngFor="let activityInfo of activityInfoes">
                    <p [ngClass]="['activity-name', getActivityClass(activityInfo.activityType)]">
                        {{activityInfo.activityType}}
                    </p>
                    <p class="activity-actual">{{activityInfo.activityActual}} {{activityInfo.unitOfMeasure}}</p>
                    <p class="activity-goal">{{activityInfo.activityGoal}} {{activityInfo.unitOfMeasure}}</p>
                </div>
            </div>

            <div class="activity-diagram">
                <mat-progress-spinner
                    *ngFor="let activityInfo of activityInfoes; index as i"
                    [ngClass]="['progress-spinner', getActivityClass(activityInfo.activityType)]"
                    [mode]="'determinate'"
                    [value]="getProgressSpinnerValue(activityInfo)"
                    [strokeWidth]="10"
                    [diameter]="30*(i+1)"
                ></mat-progress-spinner>
            </div>
        </div>
    </div>
</div>