<div class="activity-content">
    <div class="activity-info">
        <h3>My Activities</h3>

        <div class="activity-info-details">
            <div class="activity-details">
                <div class="activity-block" *ngFor="let activity of activityData">
                    <p [ngClass]="['activity-name', getActivityClass(activity.activityType)]">
                        {{activityTypes[activity.activityType]}}
                    </p>
                    <p class="activity-actual">{{activity.actualValue}} {{activity.unitOfMeasure}}</p>
                    <p class="activity-goal">{{activity.goalValue}} {{activity.unitOfMeasure}}</p>
                </div>
            </div>

            <div class="activity-diagram">
                <mat-progress-spinner
                    *ngFor="let activity of activityData; index as i"
                    [ngClass]="['progress-spinner', getActivityClass(activity.activityType)]"
                    [mode]="'determinate'"
                    [value]="getProgressSpinnerValue(activity)"
                    [strokeWidth]="10"
                    [diameter]="30*(i+1)"
                ></mat-progress-spinner>
            </div>
        </div>
    </div>
</div>