<div class="header-container">
    <div class="header-content">
        <a class="logo"></a>

        <nav class="menu">
            <a routerLink="/activity" routerLinkActive="active">
                <mat-icon aria-label="Exercise">sports_soccer</mat-icon>
                <span>Activity</span>
            </a>
            <a routerLink="/nutrition" routerLinkActive="active">
                <mat-icon aria-label="Nutrition">restaurant</mat-icon>
                <span>Nutrition</span>
            </a>
        </nav>

        <button mat-icon-button (click)="logOut()">
            <mat-icon>logout</mat-icon>
        </button>
    </div>
</div>