<div class="header-container">
    <div class="header-content">
        <a class="logo"></a>

        <nav class="menu">
            <a
                *ngFor="let menuItem of menuItems"
                [ngClass]="{'active': activeTab === menuItem.name}"
                (click)="toggleTab(menuItem.name)"
            >
                <mat-icon>{{menuItem.icon}}</mat-icon>
                <span>{{menuItem.name}}</span>
            </a>
        </nav>

        <button mat-icon-button (click)="logOut()">
            <mat-icon>logout</mat-icon>
        </button>
    </div>
</div>