<div class="info-panel-container">
    <div class="info-panel-content">
        <div class="user-info">
            <div class="user-more-info">
                <button mat-icon-button (click)="openUserDetailsDialog()">
                    <mat-icon>more_vert</mat-icon>
                </button>
            </div>

            <img
                *ngIf="user.avatar; else defaultAvatar"
                class="user-avatar"
                [src]="user.avatar"
            />
            <ng-template #defaultAvatar>
                <span class="default-avatar">
                    <mat-icon>account_circle</mat-icon>
                </span>
            </ng-template>

            <p class="user-name">{{user.name}}</p>
    
            <p class="user-other-info">{{user.age || "-"}} years, {{user.country}}</p>
    
            <div class="user-parameters-block">
                <div class="parameter-block">
                    <p class="parameter-name">Weight</p>
                    <p class="parameter-value">{{user.weight || "-"}} kg</p>
                </div>
    
                <div class="parameter-block">
                    <p class="parameter-name">Height</p>
                    <p class="parameter-value">{{user.height || "-"}} cm</p>
                </div>
    
                <div class="parameter-block">
                    <p class="parameter-name">Goal</p>
                    <p class="parameter-value">{{user.weightGoal || "-"}} kg</p>
                </div>
            </div>
        </div>
    </div>
</div>